<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>
  <add key="DomainIPName" value="google.co.in"/>
  <add key="LoginURL" value="http://reliancebroadband.co.in/reliance/login.do"/>
  <add key="UserId" value="username"/>
  <add key="Password" value="password"/>
  <add key="TimerIntervalSec" value="60"/>
  <add key="Notify" value="true" />
</appSettings>

</configuration>
